@model IEnumerable<Mohawk.Executive.Services.ViewModels.OpportunityModel>
<link rel="stylesheet" type="text/css" href="~/Content/ContactBlock.css" />

@{
    if (Model.Any())
    {
        foreach (var opportunity in Model)
        {
            <a href="@Url.Action("ViewOpportunity", "Opportunities", new {id = opportunity.Id})">
                <div class="contact-block">
                    <div class="circle">
                        @opportunity.Subject
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <h4><i>No opportunities were found!</i></h4>
    }
}