@model System.Collections.Generic.IEnumerable<Mohawk.Executive.Services.ViewModels.ContactModel>

@{
    ViewBag.Title = "Contact Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>
            Contacts
            <a href="@Url.Action("AddContact", "Contact")"class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add Contact </a>
        </h2>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-12">
        <div style="margin: auto;">
            @Html.Partial("_ContactBlock", Model)
        </div>
    </div>
</div>