@model Mohawk.Executive.Web.Models.OpportunityResolutionViewModel
    
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Resolve Opportunity?</h5>
</div>
@using (Html.BeginForm("ResolveOpportunity", "Opportunities", FormMethod.Post))
{
<div class="modal-body">
    
        @Html.HiddenFor(m=>m.OpportunityId)
        <div class="col-sm-12">
            @Html.LabelFor(m=>m.ResolutionReason)
            <br/>
            <small>Mark the outcome of the opportunity; i.e. "Opportunity was completed successfully; Donation paid in full."</small>
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.ResolutionReason, new {@class = "form-control", autocomplete = "off" })
        </div>

    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-success" value="Resolve"/>
</div>
    
}