@model IEnumerable<Mohawk.Executive.Services.ViewModels.OpportunityDonationModel>

@if (Model.Any())
{
    foreach (var item in Model.ToList())
    {
        <div class="row block-card">
            @Html.LabelFor(i=>item.DonationText): @item.DonationText
            <hr/>
            @Html.LabelFor(i=>item.DonationTypes):
            @foreach (var type in item.DonationTypes)
            {
                <span>@type.DonationTypeString </span>
            }
        </div>
    }
    
}
else
{
    <div>This opportunity has no donations at the moment. Add one!</div>
}




