
@model IEnumerable<Mohawk.Executive.Services.ViewModels.OpportunityStepModel>

@if (Model.Any())
{
    foreach (var item in Model.OrderBy(x=>x.StepOrder))
    {
        <div class="row block-card">
            <div class="col-xs-1"><h4>@item.StepOrder</h4></div>
            <div class="col-xs-8">@item.Step</div>
            <div class="col-xs-3">3buttons</div>
        </div>
    }

}
else
{
    <div>This opportunity has no steps to achieve at the moment. Add one!</div>
}

