<div class="row">
    <div class="col-sm-12">
        <h3>
            Donation Types
        </h3>
        <small>Donation types are the types you assign to donations in an opportunity. Example: "In-Kind Donation", "Monetary Donation", etc</small>
    </div>
</div>
<hr />
<div id="donation-type-section" class="row">

</div>


<div class="row">
    <div class="col-sm-12">
        <h3>
            Opportunity Priorities
        </h3>
        <small>An Opportunity Priority specifies how important an opportunity is. Example: "High Priority", "Low Priority", "Prioritize Later", etc</small>
    </div>
</div>
<hr />
<div id="priority-section" class="row">

</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetDonationTypes","AppSettings")"
        }).done(function(data) {
            $("#donation-type-section").html(data);
        });
        $.ajax({
            url: "@Url.Action("GetPriorities","AppSettings")"
        }).done(function(data) {
            $("#priority-section").html(data);
        });




    })


</script>