@using Mohawk.Executive.Services.ViewModels
@{
    ViewBag.Title = "Settings";
}


<div id="donation-type-section">

</div>



<div id="priority-section">

</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetDonationTypes","AppSettings")"
        }).done(function(data) {
            $("#donation-type-section").html(data);
        });
        $.ajax({
            url: "@Url.Action("GetPriorities","AppSettings")"
        }).done(function(data) {
            $("#priority-section").html(data);
        });




    })


</script>


