@model IEnumerable<Mohawk.Executive.Services.ViewModels.Contact>

<style>
    .circle {
        width: 15%;
        height: 15%;
        border-radius: 50%;
        font-size: 50px;
        color: #fff;
        line-height: 15%;
        text-align: center;
        background: #333
    }
</style>

@{
    foreach (var contact in Model)
    {
        <div class="col-sm-3">
            <a href="@Url.Action("ViewContact","Contact",new {id=contact.Id})">
                <div class="circle">
                    @contact.Name
                    <br />
                    <small>@contact.Organization</small>
                </div>
            </a>
        </div>
    }
}





