@model Mohawk.Executive.Web.Models.SearchResultModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-12">
        <h2>
            Opportunities
            <a href="@Url.Action("QuickCreate","Opportunities")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add Opportunity </a>
        </h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">

        @Html.Partial("_OpportunityBlock", Model.Opportunities)

    </div>
</div>


